{
  "host": "127.0.0.1",
  "port": 4242,
  "hash_key": "<YOUR BOSSLAND HASH KEY>",
  "accounts_file": "<FILE CONTAINING LVL30+ ACCOUNTS IN ROCKETMAP FORMAT>",
  "proxies_file": "<FILE CONTAINING PROXIES AS IP:PORT PER LINE>",
  "require_min_trainer_level": 30,
  "wait_after_login": 20
}
