flask
git+https://github.com/sebastienvercammen/pgoapi.git@71cb419590381665e044c6ec885c56ddadd974bd#egg=pgoapi
git+https://github.com/sLoPPydrive/MrMime.git@v0_0_1#egg=MrMime
geopy
beautifulsoup4
requests
psutil
configargparse
